.feedback {
  position: relative;
  min-height: 670px;
  background-color: #00b2ff;
  width: 100%;
  margin: 0 auto;
  z-index: 20;

  &::after {
    content: '';
    position: absolute;
    width: 766px;
    height: 644px;
    background-image: url('../img/feedback-triangle.svg');
    top: -9%;
    right: 51%;
    z-index: -1;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    min-height: 664px;
  }

  @media (max-width: $mobile-width) {
    min-height: 640px;
  }
}

.feedback__connection {
  position: absolute;
  z-index: 22;
  background-color: #00b2ff;
  top: 9%;
  right: 19.6%;

  &::before {
    content: '';
    position: absolute;
    width: 511px;
    height: 288px;
    background-image: url('../img/paper-airplane.png');
    top: 20.4%;
    right: 114%;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    top: 7.8%;
    margin: 0 auto;
    width: 598px;
    right: 0;
    left: 0px;
  }

  @media (max-width: $mobile-width) {
    width: 93vw;
    right: 0;
    left: 0px;
  }
}

.feedback__connection h2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin-left: 26px;
  margin-bottom: -6px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    margin-left: 3px;
    margin-bottom: -3px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 140.62%;
    margin-top: -20px;
  }
}

.feedback__connection p {
  font-family: 'PT Mono', 'Courier', monospace;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 30px;

  @media (max-width: $tablet-width) {
    margin-left: 8px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 6px;
  }
}

.feedback__form {
  display: flex;
  width: 570px;
  flex-wrap: wrap;
  margin-left: 30px;
  padding-top: 34px;

  @media (max-width: $tablet-width) {
    width: 592px;
    margin-left: 6px;
    padding-top: 38px;
  }

  @media (max-width: $mobile-width) {
    width: 294px;
    padding-top: 9px;
  }
}

.feedback__block {
  position: relative;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    margin-bottom: 31px;
  }
}

.feedback__block--tell {
  margin-left: 30px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.feedback__block label {
  position: absolute;
  font-family: 'PT Mono', 'Courier', monospace;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  left: 16px;
  top: 13px;
}

.feedback__label--none {
  display: none;
}

.feedback__block input {
  width: 252px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  padding-left: 16px;
  font-family: 'PT Mono', 'Courier', monospace;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  z-index: 3000;

  &:focus {
    & + label {
      opacity: 0;
    }
  }

  @media (max-width: $tablet-width) {
    width: 263px;
  }

  @media (max-width: $mobile-width) {
    width: 84vw;
  }
}

.feedback__block textarea {
  width: 552px;
  height: 141px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  resize: none;
  padding-left: 16px;
  padding-top: 10px;
  font-family: 'PT Mono', 'Courier', monospace;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  &:focus {
    & + label {
      opacity: 0;
    }
  }

  @media (max-width: $tablet-width) {
    width: 573px;
    height: 149px;
  }

  @media (max-width: $mobile-width) {
    width: 84vw;
    height: 91px;
  }
}

.feedback__send {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  width: 270px;
  height: 46px;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -2px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    width: 279px;
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-top: -5px;
  }

  &:hover {
    background: #00ffff;
  }
}

.feedback__block-check {
  width: 250px;
  margin-left: 38px;
  display: flex;
  margin-top: -11px;

  @media (max-width: $tablet-width) {
    margin-left: 22px;
    margin-top: -24px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-top: 14px;
  }
}

.feedback__block-check input {
  width: 27px;
  height: 25px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 455px;
  left: 330px;
}

.feedback__block-check label {
  font-family: 'PT Mono', 'Courier', monospace;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  margin-left: 0;
  margin-top: 3px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-left: 18px;
    margin-top: 14px;
  }

  @media (max-width: $mobile-width) {
    margin-left: -1px;
    margin-top: 5px;
  }
}

.feedback__block-check span {
  margin-left: 17px;
  margin-top: 11px;
}

.feedback__block-check input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.feedback__block-check input:checked+label::before {
  background-image: url('../img/checked.svg');
}

.feedback__block-check input:focus + label::before {
  outline: rgb(59, 153, 252) auto 10px;
}