.goods-service h2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
  padding-top: 88px;
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 140.62%;
    max-width: 626px;
    padding-top: 50px;
    margin-left: 16px;
    margin: 0 auto;
    margin-left: 25px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    max-width: 274px;
    margin: 0 auto;
  }
}

.goods-service__list {
  display: flex;
  justify-content: space-between;
  max-width: 1169px;
  margin: 0 auto;
  padding-top: 51px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 0 auto;
    width: 720px;
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: -9px;
    width: 90vw;
  }
}

.goods-service__item {
  margin-right: 0;
  min-width: 200px;
  width: 31.6%;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 31.6%;
    margin-bottom: 30px;
  }
}

.goods-service {
  width: 100%;
  min-height: 938px;
  background-color: #1B2D37;

  @media (max-width: $tablet-width) {
    min-height: 1127px;
  }

  @media (max-width: $mobile-width) {
    min-height: 1101px;
  }
}

.goods-service__link {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    width: 63px;
    height: 63px;
    background-image: url('../img/service-decorativ.svg');
    right: 0;
    top: 558px;

    @media (max-width: $tablet-width) {
      top: 193px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 720px;
    height: 256px;
  }

  @media (max-width: $mobile-width) {
    width: 90vw;
  }

  &:hover {
    box-shadow: 0px 4px 20px rgba(0, 255, 255, 0.15);
  }
}

.goods-service__block {
  position: relative;
  height: 620px;

  @media (max-width: $tablet-width) {
    height: 256px;
  }
}

.goods-service__block--manafacturi {
  position: relative;
  background-image: url('../img/manafucture.png');
  opacity: 0.2;

  @media (max-width: $tablet-width) {
    background-image: url('../img/manafucture-tablet.png');
    background-repeat: no-repeat;
  }
}

.goods-service__block--mounting {
  position: relative;
  background-image: url('../img/mounting.png');
  opacity: 0.2;

  @media (max-width: $tablet-width) {
    background-image: url('../img/mounting-tablet.png');
  }
}

.goods-service__block--accessories {
  position: relative;
  background-image: url('../img/accessories.png');
  opacity: 0.2;

  @media (max-width: $tablet-width) {
    background-image: url('../img/accessories-tablet.png');
  }
}

.goods-service__link p {
  position: absolute;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 160px;
  top: 30px;
  left: 43px;
  z-index: 120;

  @media (max-width: $tablet-width) {
    top: 20px;
  }

  @media (max-width: $mobile-width) {
    left: 34px;
    top: 0;
  }
}

.goods-service__link--accessories p {
  top: 30px;

  @media (max-width: $mobile-width) {
    top: 10px;
  }
}
