.navigation  {
  display: flex;
  width: 100%;
  max-width: 1475px;
  margin: 0 auto;
  padding-top: 32px;
  justify-content: space-between;
}

.navigation__logo {
  margin-left: 30px
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 35px;
  width: 657px;
  flex-wrap: wrap;
}

.navigation__link {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.navigation__img {
  margin-right: 7px;
}

.navigation__img--email {
  margin-right: 9px;
}

.navigation__link--tell {
  margin-left: 38px;
}

.navigation__button {
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 15px 25px 13px 25px;
}
