@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("PT Mono"),
    local("PTMONO"),
    url("/fonts/PTMono.woff2") format("woff2"),
    url("/fonts/PTMono.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto Condensed Bold"),
    local("RobotoCondensedBold"),
    url("/fonts/RobotoCondensedBold.woff2") format("woff2"),
    url("/fonts/RobotoCondensedBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Roboto Condensed Regular"),
    local("RobotoCondensedRegular"),
    url("/fonts/RobotoCondensedRegular.woff2") format("woff2"),
    url("/fonts/RobotoCondensedRegular.woff") format("woff");
}
